<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Biblr</title>

  <!-- Required Bootstrap meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Biblr-specific styles -->
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <a href="{{ url_for('index') }}" class="navbar-brand">
        <h1 style="font-family: 'Georgia', serif;">Biblr</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbar_nav_dropdown"
              aria-controls="navbar_nav_dropdown" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_nav_dropdown">
        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav">
          {% if not session.logged_in %}
            <a class="nav-item nav-link"
               href="{{ url_for('login', origin=request.url_rule.rule) }}">
              Log In
            </a>
          {% else %}
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">
              Log Out
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% block breadcrumb %}
      <ol class="breadcrumb">
        {% block breadcrumb_items %}
        <li class="breadcrumb-item dropdown">
          <!-- <div class="dropdown"> -->
            <a class="dropdown-toggle"
               id="nb_dropdown_link" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              Browse Book
            </a>
            <div class="dropdown-menu scrollable-menu"
                 aria-labelledby="nb_dropdown_link">
              {% for bkey, bname in books.BOOK_LUT.items() %}
                <a class="dropdown-item"
                   href="{{ url_for('show_verses', book=bkey) }}">
                  {{ bname }}
                </a>
              {% endfor %}
            </div>
            <!-- </div> -->
        </li>
        {% endblock %}
      </ol>
    {% endblock %}
    {% block body %}{% endblock %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
